
/* Responsive for mobile */
@media screen  and (max-width:430px) {
    .links, .school, .contact{
        display: none;
    }
    body{
        margin: 0;
    }
    .nav-bar-container{
        width: 390px;
        height: 75px;
        margin: 0;
        display: flex;
        align-items: center;
        border-bottom: .5px solid orange
    }
    .logo{
        width: 42px;
        height: 42px;
        margin-left: 13px;
        margin-bottom: 30px;
        margin-top: 10px;
    }
    .hamburger{
        display: block;
        margin-left: 282px;
        margin-right: 16px;
        
    }
    hr{
        display: block;
    }


    /* section-1 - responsive */
    .section-1{
        width: 357px;
        height: 735px;
        flex-direction:column-reverse;
        align-items: center;
        justify-content: center;
        margin-left: 16px;
        margin-right: 16px;
        
    }
    .section-1 .text-items{
        display: flex;
        flex-direction: column;
        width: 357px;
        height: 252px;
        align-items: center;
    }
    .section-1 .text-items > h3{
        font-size: 32px;
        font-weight: 700;
        margin: 0;
        font-size: 32px;
        font-weight: 700;
        width: 357px;
        text-align: center;
    }
    .section-1 .text-items > p{
        width: 357px;
        height: 54px;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        padding-bottom: 18px;
        margin:0;
    
    }
    .section-1 button{
        width: 131px;
        height: 42px;
        font-size: 16px;
        font-weight: 700;
    }
    .section-1 img{
        width: 336.58px;
        height: 413px;
    }

    /* section-2 */
    .section-2{
        display: flex;
        flex-direction: column;
        width: 373.5px;
        height: 991.61px;
    }
    .section-2 > h3{
        font-size: 26px;
        font-weight: 700;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .section-2 .cards-container{
        display: flex;
        flex-direction: column;
        width: 357px; 
           
    }
    .section-2 .cards-container .cards{
        width: 357px;
        height: 321.28px;
    }   
    .section-2 .cards-container .cards > img{
        width: 92.6px;
        height: 92.6px;
        margin-top: 36px;
        margin-bottom: 22px;
    
    }
    .section-2 .cards-container .cards > h4{
        font-size: 16.6px;
        font-weight: 700;
        margin: 0px;
        margin-bottom: 22px;
    
    }
    .section-2 .cards-container .cards > p{
        font-weight: 500;
        font-size: 10.22px;
        margin-bottom: 22px;
    }
    .section-2 .cards-container .cards > button{
        font-weight: 700;
        font-size: 10.22px;
        margin-bottom: 36px;
    }
    .cards{
        margin-bottom: 12.3px;
    }
    .arrows{
        display: none;
    }




    /* section-3 */
    .section-3{
    width: 390px;
    height: 768.89px;
    }
    .section-3 > h3{
        font-size: 26px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    .big-card{
        display:none;
    }
    .section-3{
        height: 580.89px;
    }
    .section-3 .story-card{
        width: 173.35px;
        height: 179.59px;
        border: none;
        margin: 0;
        margin-top: 0;
        border-radius: 16px;
        background-color: white;
    }
    .story-card > img{
        width: 173.27px;
        height: 105.39px;
        border-top-left-radius: 16px ;
        border-top-right-radius: 16px;
        
    }
    .story-card > .date{
        font-weight:500;
        font-size: 9.13px;
        width: 103.91px;
        height: 22.83px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        border-radius: 47.93px;
        background-color: #95B226;
        position: absolute;
        z-index: 3;
        margin-top: 93.96px ;
        margin-left: 37.91px ;
        transition: 0.3s ease-in-out;
               
    }
    .story-card > h4 {
        position: absolute;
        z-index: 2;
        width: 117.92px;
        height: 28.54px;
        font-size: 9.13px;
        font-weight: 700;
        margin-left: 22.57px;
        margin-top: 128.21px;
    }
    .section-3 > button{
        width: 134px;
        height: 30px;
        margin-top: 20px;
        font-size: 16px;
        font-weight: 700;
        border-radius: 12px;
    
    }







    footer{
        width: 390px;
        height: 750px;
        display: flex;
        flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    .content{
        width: 390px;
        height: 642px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
    }
    .left{
        margin-top:30.12px;
        padding-left:16px;
    }
    .left > p{
        color: white;
        font-size: 16;
        font-weight: 400px;
        width: 357px;
        height: 80px;
        margin-top: 32px;
        margin-bottom: 0px;
        
    }
    .middle{
        margin-top:0 px;
        padding-left:16px;
    }
    .middle > h5{
        font-size: 20.35px;
        font-weight: 600;
        color: white;
        margin-top:32px;
        margin-bottom:27.57px;
    }
    .middle > ul >li{
        list-style-type: none;
        color: white;
        font-size: 16.96px;
        font-weight: 500;
        margin-bottom: 17.17px;
    }
    .right{
        padding-left:16px;
    }
    .right > h5{
        font-size: 22.04px;
        font-weight: 700;
        margin-bottom: 36.96px;
    }
    .social-images {
        width: 192.91px;
        height: 40px;
        display: flex;
        justify-content: space-between;
    }
    
}